<aside>
    <div id="aside">
        <h2 id="tech_icon"><a href="/">TECHIES</a></h2>
        <span id="menu" class="material-symbols-outlined">
            menu
        </span>
    </div>
    <ul id="aside_content">
        <li><a href="/browse">BROWSE A TECHNOLOGY</a></li>
        <li><a href="/share">SHARE A TECHNOLOGY</a> </li>
        <li><a href="/about">ABOUT TECHNOLOGY</a></li>
    </ul>
</aside>
<header>
    <ul id="tech_header">
        <li>
            <h2 id="tech_icon"><a href="/">TECHIES</a></h2>
        </li>
        <nav>
            <li><a href="/browse">BROWSE A TECHNOLOGY</a></li>
            <li><a href="/share">SHARE A TECHNOLOGY</a> </li>
            <li><a href="/about">ABOUT TECHNOLOGY</a></li>
        </nav>
    </ul>
</header>