<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image" href="/favicon-32x32.png">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/tech_home.css">
    <link rel="stylesheet" href="/aside.css">
    <script src="/tech.js" defer></script>
</head>
<body>
  <%-include("includes/common")  %>
    <main id="main_section">
        <ul id="about_content">
            <li>
                <h1>Make the world more Techie</h1>
            </li>
            <li>Techies is a website for technology enthusiasts that allows you to share and discover amazing
                technologies from all over the world!</li>
            <li>You don't need to sign up or create any account - you can simply start sharing right away!</li>
        </ul>
    </main>
</body>