aside {
    display: none;
}
#menu{
    font-size: 3rem;
    cursor:pointer ;
}
#aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 1rem;
}

#aside_content{
    background-color: brown;
    position: absolute;
    bottom: -78rem;
    top: 6rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 9rem;
}
#aside_content li{
    list-style: none;
   margin: 2rem;
    font-size: xx-large;
}
#aside_content li a{
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease-in-out;
}
#aside_content li a:hover{
  background-color:cadetblue ;
}
#aside_content{
    display: none;
} 
@media(max-width:768px)
{
   header{
    display: none;
   }
   aside{
    display: block;
   }
}




